

<div class="driver-profile-container">
<div>
  <img [src]="imageUrl" class="profilePic" (click)="openFilePicker()">
  <input
    type="file"
    #fileInput
    accept="image/*"
    (change)="onFileSelected($event)"
    style="display: none;"
  >
  <form [formGroup]="editDriverInfo" (ngSubmit)="editDriver()">
    <label for="firstName">First Name</label>
    <input id="firstName" formControlName="firstName" placeholder="Enter your first name" required>

    <label for="lastName">Last Name</label>
    <input id="lastName" formControlName="lastName" placeholder="Enter your last name" required>

    <label for="email">Email</label>
    <input id="email" formControlName="email" placeholder="Enter your email" required>

    <label for="number">Phone number</label>
    <input id="number" type="tel" formControlName="number" placeholder="Enter your phone number">

    <label for="homeAddress">Home Address</label>
    <input id="homeAddress" type="text" formControlName="homeAddress" placeholder="Enter your home address">

    <button class="changeBtn" type="submit">Change</button>
  </form>
</div>

<div class="vertical-line"></div>

<div>
    <span>Vehicle</span>
  <form [formGroup]="editVehicleInfo" (ngSubmit)="editVehicle()">
    <label for="model">Model</label>
    <input id="model" formControlName="model" placeholder="Enter your car name" required>

    <label for="type">Vehicle type</label>
    <select id="type" formControlName="type" required>
      <option value="" disabled selected>Select vehicle type</option>
      <option value="standard">Standard</option>
      <option value="luxury">Luxury</option>
      <option value="suv">SUV</option>
    </select>

    <label for="licensePlateNumber">License plate number</label>
    <input id="licensePlateNumber" formControlName="licensePlateNumber" placeholder="Enter your license plate number">

    <label for="passengerNumber">Passenger number</label>
    <input id="passengerNumber" type="number" formControlName="passengerNumber" placeholder="Enter your passenger number">

    <div class="checkbox-row">
      <label class="checkbox">
        <input id="isBabySeatAvailable" type="checkbox" formControlName="isBabySeatAvailable">
        <span>Is baby seat available</span>
      </label>
    </div>

    <div class="checkbox-row">
      <label class="checkbox">
        <input id="isPetFriendly" type="checkbox" formControlName="isPetFriendly">
        <span>Is pet friendly</span>
      </label>
    </div>

    <button class="changeBtn" type="submit">Change</button>
  </form>
</div>
</div>


<button class="resetPassBtn" routerLink="/profile-password-reset">Reset password</button>
<div class="hoursActive">Hours active: 12h 52min </div>