<div class="reset-password-page">
  <app-logo></app-logo>

  <div class="reset-password-container">
    <p class="subtitle">Please enter your new password</p>
    <h1 class="title">Reset Password</h1>

    <form>
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password" placeholder="Enter new password" required />

      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" placeholder="Confirm new password" required />
      <button type="submit">Confirm</button>
    </form>



    
  </div>
</div>