<div class="reset-password-page">
  <app-logo></app-logo>

  <div class="reset-password-container">
    <p class="subtitle">Please enter your new password</p>
    <h1 class="title">Reset Password</h1>

    <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">

      <label>New Password</label>
      <input type="password" name="newPassword" [(ngModel)]="newPassword" required minlength="6"
        #newPasswordCtrl="ngModel"
        [class.invalid]="(newPasswordCtrl.invalid && newPasswordCtrl.touched) || (newPasswordCtrl.invalid && submitted)" />

      <div class="error-message"
        *ngIf="(newPasswordCtrl.invalid && newPasswordCtrl.touched) || (newPasswordCtrl.invalid && submitted)">
        <span *ngIf="newPasswordCtrl.errors?.['required']">Password is required.</span>
        <span *ngIf="newPasswordCtrl.errors?.['minlength']">Password must be at least 6 characters.</span>
      </div>

      <label>Confirm Password</label>
      <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required
        #confirmPasswordCtrl="ngModel" [class.invalid]="
              ((confirmPasswordCtrl.invalid || passwordsDoNotMatch()) && confirmPasswordCtrl.touched)
              || ((confirmPasswordCtrl.invalid || passwordsDoNotMatch()) && submitted)
             " />

      <div class="error-message" *ngIf="
            ((confirmPasswordCtrl.invalid || passwordsDoNotMatch()) && confirmPasswordCtrl.touched)
            || ((confirmPasswordCtrl.invalid || passwordsDoNotMatch()) && submitted)
           ">
        <span *ngIf="confirmPasswordCtrl.errors?.['required']">Confirm password is required.</span>
        <span *ngIf="!confirmPasswordCtrl.errors?.['required'] && passwordsDoNotMatch()">
          Passwords do not match.
        </span>
      </div>

      <button type="submit">Confirm</button>

    </form>
  </div>

  <!-- Popup -->
  <app-popup-dialog [visible]="showPopup" [success]="popupSuccess" [message]="popupMessage" (closed)="closePopup()">
  </app-popup-dialog>

</div>