.reset-password-page {
  min-height: 100vh;
  background-color: var(--color-background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--color-text-gray);
  font-size: 0.7rem;
}

.title {
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

input {
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button:hover {
  background-color: var(--color-primary-dark);
}


.register {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.register a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: var(--color-background-white);
  padding: 2rem;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.popup-title {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.popup-message {
  font-size: 0.9rem;
  color: var(--color-text-gray);
  margin-bottom: 2rem;
}

.popup-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.popup-button:hover {
  background-color: var(--color-primary-dark);
}


