<div class="switch-container">
<label class="switch">
  <input type="checkbox" (change)="toggleSlider($event)">
  <span class="slider round">
    <span class="slider-thumb">{{ isSliderRight ? 'Vehicle' : 'Driver' }}</span>
  </span>
</label>
</div>
@if(!isSliderRight) {
<div class="driverChangeCard">
@for(change of changes(); track change.requestId) {
    <div class="item">
        <p class="driverName">{{change.firstName}} {{change.lastName}}</p>
        @if(isExpanded(change.requestId)) {
        <div class="details" >
            <div class="old">
                <p class="label">Old</p>
                <img class="profilePic" [src]="change.profilePicture" alt="Old Profile Picture"/>
                <p class="value">{{change.firstName}}</p>
                <p class="value">{{change.lastName}}</p>
                <p class="value">{{change.email}}</p>
                <p class="value">{{change.phoneNumber}}</p>
                <p class="value">{{change.address}}</p>
                
            </div>
            <div class="separator"></div>
            <div class="new">
                <p class="label">New</p>
                <img class="profilePic" [src]="change.newProfilePicture" alt="New Profile Picture"/>
                <p class="value">{{change.newFirstName}}</p>
                <p class="value">{{change.newLastName}}</p>
                <p class="value">{{change.newEmail}}</p>
                <p class="value">{{change.newPhoneNumber}}</p>
                <p class="value">{{change.newAddress}}</p>
            </div>
        </div>
    }
        <div class="card-footer">
        <div class="action-buttons">
          <button class="approveBtn" (click)="approveDriver(change.requestId,change.driverId)">Approve</button>
          <button class="rejectBtn" (click)="rejectDriver(change.requestId,change.driverId)">Reject</button>
        </div>
        
        <button class="viewDetailsBtn" (click)="toggleDetails(change.requestId)">
          {{ isExpanded(change.requestId) ? 'Hide Details' : 'View Details' }}
        </button>
      </div>
    </div>
}
</div>
} @else {
<div class="driverChangeCard">
@for(change of vehicleChanges(); track change.requestId) {
    <div class="item">
        <p class="driverName">{{change.firstName}} {{change.lastName}}</p>
        @if(isExpanded(change.requestId)) {
        <div class="details" >
            <div class="old">
                <p class="label">Old</p>
                <p class="value">{{change.model}}</p>
                <p class="value">{{change.registrationNumber}}</p>
                <p class="value">{{change.type}}</p>
                <p class="value">{{change.space}}</p>
                <p class="value">{{change.babySeat}}</p>
                <p class="value">{{change.petFriendly}}</p>
                
            </div>
            <div class="separator"></div>
            <div class="new">
                <p class="label">New</p>
                <p class="value">{{change.newModel}}</p>
                <p class="value">{{change.newRegistrationNumber}}</p>
                <p class="value">{{change.newType}}</p>
                <p class="value">{{change.newSpace}}</p>
                <p class="value">{{change.newBabySeat}}</p>
                <p class="value">{{change.newPetFriendly}}</p>
            </div>
        </div>
    }
        <div class="card-footer">
        <div class="action-buttons">
          <button class="approveBtn" (click)="approveVehicle(change.requestId,change.vehicleId)">Approve</button>
          <button class="rejectBtn" (click)="rejectVehicle(change.requestId,change.vehicleId)">Reject</button>
        </div>
        
        <button class="viewDetailsBtn" (click)="toggleDetails(change.requestId)">
          {{ isExpanded(change.requestId) ? 'Hide Details' : 'View Details' }}
        </button>
      </div>
    </div>
}
</div>
}