.forgot-password-page {
  min-height: 100vh;
  background-color: var(--color-background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--color-text-gray);
  font-size: 0.7rem;
  max-width: 60%;
}

.title {
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

input {
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button:hover {
  background-color: var(--color-primary-dark);
}
