<div class="forgot-password-page">
    <app-logo></app-logo>

    <div class="forgot-password-container">
        <h1 class="title">Forgot password</h1>
        <p class="subtitle">Enter your email and we`ll send you a link to reset your password</p>
        <form>
            <input id="email" type="email" placeholder="Enter your email" required />
        </form>
        <button type="button" class="send-button" (click)="navigateToResetPassword()">
            Send
        </button>
    </div>
</div>