<div class="forgot-password-page">
    <app-logo></app-logo>

    <div class="forgot-password-container">

        <h1 class="title">Forgot password</h1>
        <p class="subtitle">
            Enter your email and we’ll send you a link to reset your password
        </p>

        <form #forgotForm="ngForm" (ngSubmit)="sendResetLink(forgotForm)">

            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="email" required email #emailCtrl="ngModel"
                [class.invalid]="(emailCtrl.invalid && emailCtrl.touched) || (emailCtrl.invalid && submitted)" />

            <div class="error-message"
                *ngIf="(emailCtrl.invalid && emailCtrl.touched) || (emailCtrl.invalid && submitted)">
                <span *ngIf="emailCtrl.errors?.['required']">Email is required.</span>
                <span *ngIf="emailCtrl.errors?.['email'] && !emailCtrl.errors?.['required']">
                    Please enter a valid email address.
                </span>
            </div>

            <button type="submit" class="send-button">
                Send
            </button>

            <div *ngIf="serverError" class="error-message error-message-server">
                {{ serverError }}
            </div>

        </form>

    </div>
    <app-notification-popup [visible]="showPopup" [title]="popupTitle" [message]="popupMessage" [success]="popupSuccess"
        [okButtonText]="popupButtonText" (closed)="closePopup()">
    </app-notification-popup>


</div>