<div class="passenger-dashboard">

    <div class="header-section">
        <h2 class="dashboard-title">Scheduled rides</h2>

    </div>

    <div class="rides-section">
        <h3 class="section-title">
            Upcoming rides
            <span class="subtitle">
                Rides can be canceled up to 10 minutes before start.
            </span>
        </h3>

        <div class="table-container">
            <table class="rides-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pick up</th>
                        <th>Drop off</th>
                        <th>Scheduled time</th>
                        <th>Estimated cost</th>
                        <th>Cancel</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let ride of displayedRides">
                        <td>{{ ride.id }}</td>
                        <td>{{ ride.pickupAddress }}</td>
                        <td>{{ ride.dropoffAddress }}</td>
                        <td>{{ ride.scheduledAt | date: 'd MMM, y • HH:mm' }}</td>
                        <td>{{ ride.estimatedCost.toFixed(2) }}</td>
                        <td class="action-cell">
                            <button class="action-btn cancel" [disabled]="!canCancel(ride)"
                                (click)="requestCancel(ride)">
                                {{ canCancel(ride) ? 'Cancel' : 'Disabled' }}
                            </button>


                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button (click)="prevPage()" [disabled]="currentPage() === 0 || isLoading()">
                    Previous
                </button>

                <span>
                    Page {{ currentPage() + 1 }} of {{ totalPages() }}
                </span>

                <button (click)="nextPage()" [disabled]="currentPage() >= totalPages() - 1 || isLoading()">
                    Next
                </button>
            </div>

        </div>
    </div>
</div>
<app-confirmation-popup [visible]="showConfirmPopup" title="Cancel scheduled ride"
    message="Are you sure you want to cancel this scheduled ride? This action cannot be undone."
    confirmButtonText="Cancel" cancelButtonText="Abort" confirmButtonColor="red" (confirmed)="confirmCancel()"
    (cancelled)="closePopup()">
</app-confirmation-popup>
<app-notification-popup [visible]="notificationVisible" [title]="notificationTitle" [message]="notificationMessage"
    [success]="notificationSuccess" okButtonText="OK" (closed)="onNotificationClosed()">
</app-notification-popup>