

<div class="password-reset-container">

<form [formGroup]="editUsersPassword" (ngSubmit)="resetPassword()">
  <label for="newPassword">New password</label>
  <input id="newPassword" type="password" formControlName="newPassword" placeholder="Enter your new password" required>

  <label for="repeatPassword">Repeat password</label>
  <input id="repeatPassword" type="password" formControlName="repeatPassword" placeholder="Repeat your new password" required>

   <div class="form-actions">
    <button class="changeBtn" type="submit">
      Change
    </button>

    <button
      type="button"
      (click)="location.back()"
      class="cancelBtn">
      Cancel
    </button>
  </div>
</form>

</div>