<div class="login-page">
  <img
    src="logo.png"
    alt="FleetForge logo"
    class="brand-image"    
  />

  <div class="login-container">
    <p class="subtitle">Please enter your details</p>
    <h1 class="title">Welcome back</h1>

    <form>
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        placeholder="Enter your username"
        required
      />

      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Enter your password"
        required
      />

      <a href="#" class="forgot-password">Forgot password?</a>
      <p class="terms">
        By signing up you agree to
        <a href="#">terms and conditions</a>
      </p>
      <button type="submit">Login</button>
    </form>

    

    <p class="register">
      Don’t have an account?
      <a href="#">Register</a>
    </p>
  </div>
</div>
