<div class="login-page">
  <app-logo></app-logo>

  <div class="login-container">
    <p class="subtitle">Please enter your details</p>
    <h1 class="title">Welcome back</h1>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" required email #emailCtrl="ngModel"
        [class.invalid]="(emailCtrl.invalid && emailCtrl.touched) || (emailCtrl.invalid && submitted)" />

      <div class="error-message" *ngIf="(emailCtrl.invalid && emailCtrl.touched) || (emailCtrl.invalid && submitted)">
        <span *ngIf="emailCtrl.errors?.['required']">Email is required.</span>
        <span *ngIf="emailCtrl.errors?.['email'] && !emailCtrl.errors?.['required']">Please enter a valid email
          address.</span>
      </div>

      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" required #passwordCtrl="ngModel"
        [class.invalid]="(passwordCtrl.invalid && passwordCtrl.touched) || (passwordCtrl.invalid && submitted)" />

      <div class="error-message"
        *ngIf="(passwordCtrl.invalid && passwordCtrl.touched) || (passwordCtrl.invalid && submitted)">
        Password is required.
      </div>
      
      <a href="/forgot-password" class="forgot-password">Forgot password?</a>

      <button type="submit">
        Login
      </button>
      <div *ngIf="error" class="error-message error-message-server">
        {{ error }}
      </div>
    </form>


    <p class="register">
      Don't have an account?
      <a href="/register">Register</a>
    </p>

  </div>
</div>