.login-page {
  min-height: 100vh;
  background-color: var(--color-background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top-left image */
.brand-image {
  position: absolute;
  top: 10px;
  left: 50px;
  height: 130px;
  width: auto;
}

.login-container {
  width: 330px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--color-text-gray);
  font-size: 0.7rem;
}

.title {
  margin-bottom: 1rem;
  color: var(--color-primary);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

input {
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  font-size: 1rem;
}

.forgot-password {
  font-size: 0.85rem;
  text-align: right;
  margin-bottom: 0.6rem;
  color: var(--color-primary);
  text-decoration: none;
}

button {
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
}

button:hover {
  background-color: var(--color-primary-dark);
}

.terms{
  font-size: 0.6rem;
  color: var(--color-text-gray);
}


.register {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
}


.terms a,
.register a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}
