<div class="home-container">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Book Rides<br>Anywhere</h1>
      <div class="hero-buttons">
        <button class="btn btn-primary" type="button" (click)="scrollToBookRide()">Book Now</button>
        <button class="btn btn-secondary">Call Operator</button>
      </div>
    </div>
    <div class="hero-image">
      <img src="home-screen.png" alt="Taxi and passengers" />
    </div>
  </div>

  <div class="find-vehicle-section">
    <div class="find-vehicle-container">
      <form class="form-section" [formGroup]="rideForm" (ngSubmit)="onSubmit()">
        <h2 id="bookRide">Find Your Vehicle</h2>
        <div class="form-group">
          <label for="pickup">Pick Up Address</label>
          <input type="text" id="pickup" formControlName="pickup" placeholder="Pick Destination" (change)="onWaypointChange($event, -2)" />
        </div>

        <div class="form-group">
            <div class="newWaypoints" formArrayName="waypoint">
         
          <div *ngFor="let point of waypointArray.controls; let i = index">
      
        <label for="waypoint{{i}}" id="waypoint{{i}}">Waypoint {{ i + 1 }}:</label>
        <div class="waypoint-input-wrapper">
        <input 
          [formControlName]="i" 
          type="text" 
          placeholder="New Waypoint"
          (change)="onWaypointChange($event, i)">
        
        <button type="button" class="btn-add-waypoint"(click)="removeWaypoint(i)">-</button>
      </div>
    </div>
   <label for="waypoint" id="waypointAdd">Add New Waypoint</label>
          <div class="waypoint-input-wrapper">
            <button class="btn-add-waypoint" id="addWaypoint" type="button" (click)="addWaypointInput()">+</button>
            <input type="text" id="waypoint" placeholder="New Waypoint" disabled/>
          </div>
        </div>
        </div>

        <div class="form-group">
          <label for="dropoff">Drop Off Address</label>
          <input type="text" id="dropoff" formControlName="dropoff" placeholder="Pick Destination" (change)="onWaypointChange($event,-1)" />
        </div>

        <div class="form-group">
          <label for="passengers">Passengers</label>
          <input type="number" id="passengers" formControlName="passengers" placeholder="Number of Passengers" />
        </div>
        
        <div class="form-group">
          <label for="datetime">Date & time</label>
          <div class="datetimeNow">
            <input type="datetime-local" id="datetime" formControlName="datetime" [min]="minDateTime" />
            <div class="now-toggle">
              <input type="checkbox" id="now" formControlName="now" (change)="onNowToggle()" />
              <label for="now">Now</label>
            </div>
          </div>
        </div>

         <div class="form-group">
            <div class="newPassengers" formArrayName="passenger">
              <div *ngFor="let passenger of passengerArray.controls; let j = index">
        <label for="passenger{{j}}" id="passenger{{j}}">Passenger {{ j + 1 }}:</label>
        <div class="passenger-input-wrapper">
        <input 
          [formControlName]="j"
          type="text" 
          placeholder="New Passenger">
        <button type="button" class="btn-add-passenger"(click)="removePassenger(j)">-</button>
      </div>
    </div>

    
              <label for="newPassengerAdd" id="newPassengerAdd">Add New Passenger</label>
          <div class="passenger-input-wrapper">
            <button class="btn-add-passenger" type="button" (click)="addPassengerInput()">+</button>
            <input type="text" id="newPassengerAdd" placeholder="New Passenger" disabled/>
          </div>
        </div>
        </div>
        
      

      <div class="form-group">
        <label class="additionalCriteriaLabel">Additional Criteria</label>
            <div class="additionalCriteria">
          <select id="type" formControlName="type" required>
      <option value="" disabled selected>Select vehicle type</option>
      <option value="STANDARD">Standard</option>
      <option value="LUXURY">Luxury</option>
      <option value="VAN">Van</option>
    </select>
    <div class="now-toggle">
              <input type="checkbox" id="now" formControlName="babySeat" />
              <label for="now">Is baby seat available</label>
            </div>
            <div class="now-toggle">
              <input type="checkbox" id="now" formControlName="petFriendly" />
              <label for="now">Is pet friendly</label>
            </div>
        </div>
        </div>
        <button class="btn btn-order" type="submit">Order</button>
      </form>
      <div class="map-section">
        <app-map [vehicles]="vehicles" (mapClick)="handleMapClick($event)" (routeSummary)="onRouteSummary($event)"></app-map>
      </div>
    </div>
  </div>
</div>
