<div class="register-page">
    <div class="register-navbar">
        <div class="navbar-content">
            Become a <span class="highlight">FleetForge User</span>
        </div>
    </div>

    <div class="register-container">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

            <div class="form-grid">
                <!-- Row 1 -->

                <div class="form-group">
                    <label for="firstName">First Name*</label>
                    <input type="text" name="firstName" [(ngModel)]="firstName" required pattern="^[A-Za-z]+$"
                        #fn="ngModel" [class.invalid]="(fn.invalid && fn.touched) || (fn.invalid && submitted)" />

                    <div class="error-message" *ngIf="(fn.invalid && fn.touched) || (fn.invalid && submitted)">
                        <span *ngIf="fn.errors?.['required']">First name is required.</span>
                        <span *ngIf="fn.errors?.['pattern']">Only letters are allowed.</span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="lastName">Last Name*</label>
                    <input type="text" name="lastName" [(ngModel)]="lastName" required pattern="^[A-Za-z]+$"
                        #ln="ngModel" [class.invalid]="(ln.invalid && ln.touched) || (ln.invalid && submitted)" />

                    <div class="error-message" *ngIf="(ln.invalid && ln.touched) || (ln.invalid && submitted)">
                        <span *ngIf="ln.errors?.['required']">Last name is required.</span>
                        <span *ngIf="ln.errors?.['pattern']">Only letters are allowed.</span>
                    </div>

                </div>

                <!-- Row 2 -->
                <div class="form-group">
                    <label>Email*</label>

                    <input type="email" name="email" [(ngModel)]="email" required email #em="ngModel"
                        (blur)="checkEmailAvailability()" [class.invalid]="(em.invalid && em.touched) || (em.invalid && submitted)
                        || (emailAvailable === false && em.touched)">

                    <div class="error-message" *ngIf="(em.invalid && em.touched) || (em.invalid && submitted)
                        || (emailAvailable === false && em.touched)">

                        <span *ngIf="em.errors?.['required']">Email is required.</span>

                        <span *ngIf="em.errors?.['email']">Invalid email format.</span>

                        <span *ngIf="!em.errors && emailAvailable === false">
                            This email is already registered.
                        </span>

                    </div>
                </div>


                <div class="form-group">
                    <label for="phone">Phone Number*</label>
                    <input type="tel" name="phone" [(ngModel)]="phone" required pattern="^\+?[0-9]+$" #ph="ngModel"
                        [class.invalid]="(ph.invalid && ph.touched) || (ph.invalid && submitted)" />

                    <div class="error-message" *ngIf="(ph.invalid && ph.touched) || (ph.invalid && submitted)">
                        <span *ngIf="ph.errors?.['required']">Phone number is required.</span>
                        <span *ngIf="ph.errors?.['pattern']">Only numbers and '+' are allowed.</span>
                    </div>

                </div>

                <!-- Row 3 -->
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" name="password" [(ngModel)]="password" required minlength="6" #pw="ngModel"
                        [class.invalid]="(pw.invalid && pw.touched) || (pw.invalid && submitted)" />

                    <div class="error-message" *ngIf="(pw.invalid && pw.touched) || (pw.invalid && submitted)">
                        <span *ngIf="pw.errors?.['required']">Password is required.</span>
                        <span *ngIf="pw.errors?.['minlength']">Password must be at least 6 characters.</span>
                    </div>

                </div>

                <div class="form-group">

                    <label>Confirm Password*</label>

                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required #cp="ngModel"
                        [class.invalid]="((cp.invalid || passwordsDoNotMatch()) && cp.touched) || ((cp.invalid || passwordsDoNotMatch()) && submitted)" />

                    <div class="error-message"
                        *ngIf="((cp.invalid || passwordsDoNotMatch()) && cp.touched) || ((cp.invalid || passwordsDoNotMatch()) && submitted)">
                        <span *ngIf="cp.errors?.['required']">Confirm password is required.</span>
                        <span *ngIf="!cp.errors?.['required'] && passwordsDoNotMatch()">
                            Passwords do not match.
                        </span>
                    </div>

                </div>

                <!-- Row 4 -->
                <div class="form-group">
                    <label>Address*</label>
                    <input type="text" name="address" [(ngModel)]="address" required #ad="ngModel"
                        [class.invalid]="(ad.invalid && ad.touched) || (ad.invalid && submitted)">
                </div>

                <div class="form-group">
                    <label for="profilePicture">Profile Picture (Optional)</label>
                    <div class="file-input-container">
                        <input id="profilePicture" type="file" accept="image/*" class="file-input"
                            (change)="onProfilePictureSelected($event)" />
                        <label for="profilePicture" class="file-label">
                            <span class="file-button">Choose File</span>
                            <span class="file-name">
                                {{ selectedProfilePicture?.name || 'No file chosen' }}
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit">Register</button>

            <div *ngIf="serverError" class="error-message error-message-server">
                {{ serverError }}
            </div>

        </form>

        <!-- POPUP -->
        <app-notification-popup [visible]="showPopup" [title]="popupTitle" [message]="popupMessage" [success]="popupSuccess"
            [okButtonText]="popupButtonText" (closed)="closePopup()">
        </app-notification-popup>

        <p class="login-link">
            Already have an account?
            <a href="/login">Login here</a>
        </p>
    </div>
</div>